[submodule "scripts/benchmarking/e2e/baselines/flink-openvino-baseline"]
	path = scripts/benchmarking/e2e/baselines/flink-openvino-baseline
	url = git@github.com:gaturchenko/flink-openvino-baseline
[submodule "scripts/benchmarking/e2e/navi"]
	path = scripts/benchmarking/e2e/navi
	url = git@github.com:gaturchenko/navi
